html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, "microsoft yahei",
        arial, STHeiTi, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
    background-color: transparent;
    color: inherit;
    cursor: pointer;

    img {
        border-style: none;
    }
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

b,
strong {
    font-weight: bolder;
}
